[Unit]
Description=Prometheus Exporter for RACS GPFS
Documentation=https://github.com/uoracs/prometheus-racsgpfs-exporter

[Service]
User=root
Environment="RACSGPFS_EXPORTER_LISTEN_ADDRESS=0.0.0.0:8001"
ExecStart=/usr/local/sbin/prometheus-racsgpfs-exporter
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
